
.header{

    display: flex;
    align-items: center;
    /* background: blue; */

    padding: 2rem;

    color: white;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;

}

.header__logo{
    margin-right: auto;

    font-size: 2.5rem;
    text-transform: uppercase;
    color: rgb(90, 90, 90);
    font-weight: 600;

    text-decoration: none;
}

.header__links{
    display: flex;
    align-items: center;
}

@media (max-width: 600px){
    .header__links{
        display: none;
    }
}

.header__link{
    padding-left: 2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.1rem;
    color: rgb(90, 90, 90);

    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

}

.header__link:last-child:hover{
    background: black;

}


.cart{
    padding: 0.75rem 1.25rem;
    background: grey;
    border-radius: 100px;
    margin-left: 1rem;
    color: white;

    position: relative;
}

.number{

    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    padding: 0.5rem 0.75rem;
    background: black;
    border-radius: 50%;
    
}


/* hamburger */

.hamburger{
    border: 1px solid black;
    color: black;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    cursor:pointer;

    position: absolute;
    top: 1.5rem;
    right: 2rem;
    z-index: 13;

    display: none;
}

@media (max-width: 600px){
    .hamburger{
        display: block;
    }
}