
*,
*:before,
*:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    font-family: sans-serif;
}



.main{
    position: relative;
    overflow: hidden;
}

.selected{
    background: black !important;
    color: white !important;
    border: 1px solid black !important;
}
